* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-background-bright-orange: hsl(31, 77%, 52%);
  --card-background-dark-cyan: hsl(184, 100%, 22%);
  --card-background-very-dark-cyan: hsl(179, 100%, 13%);
}

.cards-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
  margin: 2em 1em;
  /* debuggin purpose only */
  border: 1px solid red;
}

.card {
  /* margin: 2em; */
  /* debuggin purpose only */
  border: 1px solid rgb(255, 0, 166);
}

.card__icon-image {
  margin: 0.5em;
}

.card__header {
  margin: 0.5em;
  font-size: 2em;
  text-transform: uppercase;
}

.card__info {
  margin: 1em;
}

.card__button {
  margin: 0.5em;
}

.card--brigt-orange-background {
  background-color: var(--card-background-bright-orange);
}

.card--dark-cyan-background {
  background-color: var(--card-background-dark-cyan);
}

.card--very-dark-cyan-background {
  background-color: var(--card-background-very-dark-cyan);
}
